<div class="carousel-item<%= if book_iteration.first? then ' active' end %>">
  <div class="row" style="height: 400px;">
    <div class="col-12 text-center" style="height: 400px;">
      <h1><%=book.name%></h1>
      <% book_cover = book.cover.attached? ? book.cover : "sample-book-cover.jpg" %>
      <%= image_tag(book_cover, class: "p-2 h-100") %>
    </div>
  </div>
</div>
