<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <%= image_tag("logo.png", :alt => "BookLand", :width => "100") %>
    <h1 class="d-inline">BookLand!</h1>
  </a>
</nav>
