<%= link_to("New", new_user_path, class: "btn btn-success mb-3 ml-3") %>
<%= link_to("Books", "/books/", class: "btn btn-primary mb-3 ml-2") %>

<table>
  <thead>
    <th class="px-3">Name</th>
    <th class="px-3">Email</th>
    <th class="px-3">Actions</th>
  </thead>
  <tbody>
    <%= render(@users) %>
  </tbody>
</table>
