<table>
  <thead>
    <th class="px-3">Name</th>
    <th class="px-3">Email</th>
    <th class="px-3">Actions</th>
  </thead>
  <tbody>
    <%= render(@users) %>
  </tbody>
</table>

<%= paginate (@users) %>
