<table>
  <thead>
    <th class="px-3">Name</th>
    <th class="px-3">ISBN</th>
    <th class="px-3">Actions</th>
  </thead>
  <tbody>
    <%= render(@books) %>
  </tbody>
</table>

<%= paginate(@books) %>
