<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <%= image_tag("logo.png", :alt => "BookLand", :width => "100") %>
    <h1 class="d-inline">BookLand!</h1>
  </a>
  <% if user_signed_in? %>
    <%= link_to('Logout', destroy_user_session_path, method: :delete, :class => "btn btn-success") %>
  <% else %>
    <%= link_to('Login', new_user_session_path, :class => "btn btn-success")  %>
  <% end %>
</nav>
